// Colors

$light-cornflower-blue: #8ecae6ff;
$blue-green: #219ebcff;
$prussian-blue: #023047ff;
$honey-yellow: #ffb703ff;
$orange: #fb8500ff;


$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$cultured: #f8f9faff;
$cultured-2: #e9ecefff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$cadet-blue-crayola: #adb5bdff;
$slate-gray: #6c757dff;
$davys-grey: #495057ff;
$gunmetal: #343a40ff;
$charleston-green: #212529ff;

